@font-face {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 400;
  src:url("../src/fonts/Shabnam.ttf") format("truetype")
}

@font-face {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: bold;
  src:url("../src/fonts/Shabnam-Bold.ttf") format("truetype")
}
